.card {
	border-radius: 0;
	cursor: pointer;
}

.card,
.card-footer {
	background: #ffffa5;
	border: none;
}

i {
	color: #cc0000;
	padding-right: .5rem;
}

.card-footer {
	text-align: right;
}

.completed,
.completed .card-footer {
	background: #eee;
	color: #ccc;
}